@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
  }

  /* .section1 {
    background-image: url("../images/zion-national-park.jpg");
    width: 100%;
    height: 500px;

  } */
  .container {
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    background-color: #f3e9e9;
  }
  .child {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 45%;
    align-self: center;
    color: #f0f8ff;



  }
  .child:nth-child(1) {background-color: rgb(61, 42, 42);}
  .child:nth-child(2) {background-color: rgb(0, 81, 255);}

  .sectional-link {
    border: 3px solid red;
    background-color: green;
    width: 200px;
    border-radius: 15px;
    /* height: 50px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 10px;
    color: white;
    margin-top: 20px;
    border-radius: 50%;
	  transition: 0.9s ease 0;

  }
  .sectional-link:hover {
    background: rgb(137, 168, 154);
	  border-radius: 50%;
    transition: 0.9s ease 0;
    cursor: pointer;
    color: rgb(49, 53, 32);  
  }

  body {
    font-family: Arial, sans-serif;
	  background-color: rgb(168, 137, 139);
  }
  nav {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    transition: 0.2s ease;
  }
  nav .mainMenu li a:hover {
  background: rgb(137, 168, 168);
	border-radius: 50%;
	transition: 0.9s ease;

  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  .fa-github:hover {
    color: rgb(255, 123, 0);
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
  }
  @media (max-width: 800px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0);
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      color: #f20d0d;
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
}




/* * {
    margin: 0;
    padding: 0;
    background-color: rgb(71, 69, 69);
}

li,a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
	background-color: rgb(71, 69, 69);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
} */
/* logo {
    cursor: pointer;

} */
/* .nav-links {
    list-style: none;
    display: flex;
}
.nav-links li a {
    display: inline-block;
    padding: 0px 20px;
}
header a:hover {
    color: rgb(0, 221, 255);
} */

/* .nav-links li a {
    transition: all 0.3s ease 0s;
} */
/* .nav_links li a:hover {
    color: rgb(103, 245, 245);
} */
/* li:hover {
    padding: 9px 25px;
	background-color: rgb(71, 69, 69);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.9s ease 0s;

} */

/* button:hover {
    background-color: rgb(103, 245, 245);
} */
/* .section-1 img {
    width: 100%;
} */